body{
	font-family: Arial, sans-serif;
	 text-align: top;
	background-color:blue;
}
ul
{
	margin:0px;
	padding:0px;
	width:700px;
	overflow:hidden;
}
ul li a{
	text-decoration:none;
	color:white;
}


#ul li{
	height: 100px;
	width: 700px;
	background: rgba(55, 60, 247, 0.14);
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	opacity: 0.7;
	filter:alpha (opacity=90);
		
	}

ul li{
	list-style: none;
	display: inline;
	font-weight: bold;
	padding: 10px;
	 
}
ul li a:hover{
	background-color:pink;
	transition:all 0.45s;
	opacity: 2.5;
	filter:alpha (opacity=50);
		
}

ul li ul li {
	list-style: none;
	display: inline;
	font-weight: bold;
	padding: 10px;
}
ul li:hover ul li{
	display:block;
}

#sliderbox
{
	background-image:cover;
	position:relative;
	width:14000px;
	
	animation: aashifa 8s infinite;
}
#sliderbox img
{
	float:left;
}
@keyframes aashifa{
	
	0%
	{
		left:0px;
	}
	20%
	{
		left:0px;
	}
	25%
	{
		left:-700px;
	}
	45%
	{
		left:-700px;
	}
	50%
	{
		left:-1400px;
	}
	70%
	{
		left:-1400px;
	}
	75%
	{
		left:-2100px;
	}
	95%
	{
		left:-2100px;
	}
	100%
	{
		left:-2800px;
	}
	120%
	{
		left:-2800px;
	}
	125%
	{
		left:-3500px;
	}
	145%
	{
		left:-3500px;
	}
	150%
	{
		left:-4200px;
	}
	170%
	{
		left:-4200px;
	}
	175%
	{
		left:-4900px;
	}
	180%
	{
		left:-4900px;
	}
	200%
	{
		left:-5600px;
	}
}