html, body {
	margin:0px;
	padding:0px;
	background: url(i.jpg);
	background-size: cover;
}

#messages {
	
	padding: 5px;
	margin: 10px;
	border: 1px solid #CCC;
	overflow: auto;
	width: 1300px;
	height: 500px;	
	background-color: rgba(0,0,0,0.3);
	margin: 0 auto;
	margin-top:20px;
	margin-bottom:20px
	padding-top: 10px;
	padding-left:20px;
	border-radius: 15px;
	-webkit-border-radius:15px;
	-o-border-radius:15px;
	-moz-border-radius:15px;
	color:black;
	font-weight: bolder;
	
	box-shadow: inset 4px 4px rgba(0,0,0,0.5);
	font-size: 18px;
}

#input {
	padding: 10px;
}
